* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

#section1 {
  background-image: url("img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#section2 {
  background-image: url("img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#section3 {
  background-image: url("img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}